<div class="tile">
  {{answer.author}}
  {{answer.content}}
  <br>
  <a href="index" {{action 'delete' answer}}>delete</a>
  <p> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span></p>
</div>
