body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: black;
  color: #fff3b4;
}

.jumbotron {
  color: #fff3b4;
  padding: 3%;
  background-color: black;
  font-size: 100%;
  text-align: center;
  margin: auto;
  margin-top: 0%;
  max-width: 500px;
  font-family: 'Raleway', sans-serif;
}

.jumbotron h1 {
  font-size: 90px;
}

.symbol {
  line-height: 50%;
  font-size: 50%;
  color: #e6c200;
}

.tile {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.addQ-newQ {
  max-width: 50px;
  margin: auto;
}

a {
  color: #e6c200;
  text-align: center;
  margin: auto;
}

a:hover {
  color: #fff3b4;
  text-decoration: line-through;
}

a:visited {
  color: #e6c200;
  text-align: center;
  margin: auto;
}

hr {
  background-color: #e6c200;
}

.add-update {
  max-width: 250px;
  text-align: center;
}

input, textarea {
  background-color: #fff3b4;
  color: black;
}

form {
  max-width: 318px;
  margin: auto;
  text-align: right;
}

h2 {
  color: #e6c200;
  font-weight: bold;
}

.question-content {
  border: 1px solid #fff3b4;
  max width: 10%;
}
