<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}q & a{{/link-to}}
    </div>
  </div>
</nav>
<div class="jumbotron">
  <h1> Q 	&#9098; & &#9098; A </h1>
</div>
{{outlet}}
