<div class="tile">
  {{#each model.questions as |question|}}
      {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
      <p> <span class="symbol">&#9098;</span>   <span class="symbol">&#9098;</span>   <span class="symbol">&#9098;</span>   <span class="symbol">&#9098;</span>   <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span> <span class="symbol">&#9098;</span>  </p>
  {{/each}}

  {{new-question saveQuestion="saveQuestion"}}
</div>
